#container
    h1 Compositions (Mockup)
    ul#compositions
        li.a
            h2 A (Mockup)
            div Use trading volume as a signal to start the music (wait for trading volume to reach a certain level), which consists of the variations of trading volume translated to notes in a E2 minor scale. Then, use other features (going up or down, etc.) to determine the nature of the music.
            a.send(href='#',data-message='123',data-foo='34343',data-bar='E2') Start
    h1 Datasets (Mockup)
    ul#datasets
        li.volume_280_tatum
            h2 volume_280_tatum.csv (Mockup)
            ul
                li
                    h3 A (Mockup)
                    div Transformation: Take each bid_volume, normalize it send a note message within a two-octave E2 minor scale for every beat at 140 bpm
                    a.transform(href='#',data-message='123',data-foo='34343',data-bar='E2') Preview
                    .foo
                    a.send(href='#',data-message='123',data-foo='34343',data-bar='E2') Start
                li
                    h3 B (Mockup)
                    div Transformation: Take each bid_volatility, normalize it send a note message within a two-octave E2 minor scale for every beat at 140 bpm
                    a.transform(href='#',data-message='123',data-foo='34343',data-bar='E2') Preview
                    .foo
                    a.send(href='#',data-message='123',data-foo='34343',data-bar='E2') Start
        li.no_data
            h2 Non-data programs (Mockup)
            ul
                li
                    h3 Random control data (Mockup)
                    div Transformation: Send a random control message 60 times per every beat at 140 bpm
                    a.transform(href='#',data-message='123',data-foo='34343',data-bar='E2') Preview
                    .foo
                    a.send(href='#',data-message='123',data-foo='34343',data-bar='E2') Start
                li
                    h3 Random notes (TODO)
                    div Transformation: Send a random note message within a two-octave E2 minor scale for every beat at 140 bpm
                    a.transform(href='#',data-message='123',data-foo='34343',data-bar='E2') Preview
                    .foo
                    a.send(href='#',data-message='123',data-foo='34343',data-bar='E2') Start
    ul#controller
        li.button 
            a#play(href='#',data-message='250') 
                span Play
        li.button 
            a#stop(href='#',data-message='252') 
                span Stop
        li.button 
            a#record(href='#',data-message='255') 
                span Record
    h1 Keyboard
    span Use this to verify that your synthesizer / music software picks up the MIDI signals properly
    #keyboard
    small Data MIDI Lab - A Node.js-based MIDI Controller and web frontend that allows you to generate MIDI notes and control data from arbitrary chunks of data.
script(type="text/javascript", src="/javascripts/jquery.min.js")
script(type="text/javascript", src="/javascripts/script.js")